[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest-bdd = "*"
pytest = "*"
selenium = "*"
allure-pytest = "*"
webdriver-manager = "*"
loguru = "*"

[dev-packages]

[requires]
python_version = "3.10"
